
{% extends 'base.html' %}
{% block content %}
<h1>GOODSIFY</h1>

<h5>NPM: </h5>
<p>{{ npm }}<p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

{% if not Products %}
<p>Belum ada produk dalam GOODSIFY.</p>
{% else %}
<table>
  <tr>
    <th>Nama Produk</th>
    <th>Harga</th>
    <th>Deskripsi</th>
    <th>Rating</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data Produk di bawah baris ini 
  {% endcomment %} 
  {% for Product in Products %}
  <tr>
    <td>{{ Product.name }}</td>
    <td>{{ Product.price }}</td>
    <td>{{ Product.description }}</td>
    <td>{{ Product.rating }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product' %}">
  <button>Tambahkan Produk</button>
</a>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}

