<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOODSIFY</title>
</head>
<body>

    <h1 style="text-align: center; font-weight: bold;">GOODSIFY</h1>

    <h3>Nama : </h3>
    <p>Salomo Immanuel Putra</p>

    <h3>NPM : </h3>
    <p>2306219745</p>

    <h3>Kelas : </h3>
    <p>PBP B</p>

    <h3>Nama Produk:</h3>
    <p><strong>{{ name }}</strong></p> 

    <h3>Harga:</h3>
    <p><em>{{ price }}</em></p> 
    <h3>Deskripsi:</h3>
    <p>{{ description }}</p>

    <h3>Rating:</h3>
    <p>{{ rating }}</p>

</body>
</html>
